.submit{
    background-color: rgb(19, 65, 219);
    color: white;
    border-radius: 8px;
    padding: 8px;
  }
  .social{
  
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .icons1{
    color: rgb(53, 104, 245);
    font-size: 20px;
    background-color: white;
    padding: 5px;
    border-radius: 50px;
    margin: 5px;
  }
 
  .icons2{
    color: black;
    font-size: 20px;
    background-color: white;
    padding: 5px;
    border-radius: 50px;
    margin: 5px;
  }
  .icons4{
    color: rgb(223, 7, 97);
    font-size: 20px;
    background-color: white;
    padding: 5px;
    border-radius: 50px;
    margin: 5px;
  }
  .icons5{
    color: rgb(53, 104, 245);
    font-size: 20px;
    background-color: white;
    padding: 5px;
    border-radius: 50px;
    margin: 5px;
  }
  .icons6{
    color: rgb(255, 0, 0);
    font-size: 20px;
    background-color: white;
    padding: 5px;
    border-radius: 50px;
    margin: 5px;
  }
  .footer{
    margin-top: 100px;
    padding: 10px;
    background-color: black;
    color:white;
  }
  .copyright{
    margin-left: 20px;
  }
  .header{
    margin-top: 8px;
  }