.card11 {
  background-color: #f8f8f8;
  border: 1px solid #f6dbdb;
  padding: 20px;
  margin-top: 15px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}
.navbar-nav{
  color: black;
}
.par {
  font-size: 17px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: oblique;
}

.card12 {
  background-color: #f8f8f8;
  border: 1px solid #f6dbdb;
  margin-top: 15px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.reviewbtn {
  background-color: red;
  color: white;
  border-color: white;
  height: 50px;
  width: 300px;
  font-size: 20px;
  font-style: oblique;
  font-weight: bold;
  margin-top: 20px;
  border-radius: 5px;
}

.ram {
  background-color: rgb(75, 75, 133);
  color: white;
  border-radius: 5px;
  height: 50px;
  width: 300px;
  margin-top: 23px;
  font-size: 20px;
  font-style: oblique;
  font-weight: bold;
  border-style: none;
}

.favorite {
  height: 30px;
  width: 30px;
  border: none;
  background-color: none;
}

.heading1 {
  font-size: 17px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: oblique;
}

.rating {
  background-color: green;
  border-color: green;
  color: white;
  border-radius: 10px;
  height: 30px;
  width: 70px;
}

.image {
  height: 220px;
  margin-top: 150px; 
}

.reviewguru{
    background-color : gray;
    border-radius: 10px;
    color: white;
    margin-top: 15px;
}

.logo-image1 {
  height: 60px;
  width: 80px;
  margin-top: -70%;
}

.logo-image {
  height: 200px;
}

.card123 {
  background-color: #f8f8f8;
  border: 1px solid #f6dbdb;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: fit-content;
  width: fit-content;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  align-items: center;
}

.comment {
  background-color: blue;
  border-radius: 10px;
  margin-left: 10px;
  color: white;
  height: 40px;
  width: 150px;
  border-color: blue;
}

.notification-wrapper {
  position: relative;
  display: inline-block;
}

.notification-icon {
  cursor: pointer;
  font-size: 30px;
}

.alert-card {
  position: absolute;
  top: 100%; 
  left: 0;
  width: 200px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: none; 
}

.notification-wrapper:hover .alert-card {
  display: block; 
}
